:root {
  --cont-width: 1050px;
  --background-color: #f4f4f4;
  --accent-color: #fed03a;
  --nav-pdding: 10px 8px;
  --left-padding: 10px;
}

@charset "UTF-8";

/* defalut 값 */

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Nanum Gothic Coding", monospace;
}

ul {
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

/* 컨테이너 너비, 중앙정렬 */
.kb_header,
.kb_nav,
.kb_search_nav,
.kb_notice,
.kb_banner,
.kb_footer_cont {
  width: 1050px;
  margin: 0 auto;
}

/* border-top */
.kb_slider,
.kb_footer {
  border-top: 1px solid lightgray;
}

/*전체 div*/
.container {
  width: 100%;
  height: auto;
  border: 1px solid gray;
}

/* 상단 bar*/
.kb_header {
  margin-top: 10px;
}

.logo_menu {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
}

.logo_img {
  flex: 2 2 auto;
  cursor: pointer;
}

.logo_img>a>img {
  width: 105px;
}

.top_nav {
  display: flex;
  align-items: center;
}

.top_nav a {
  color: #333;
}

.top_nav_1 {
  font-weight: 500;
  font-size: 12.7px;
}

.top_nav_1 li {
  padding: 10px 8px;
}

.top_nav_1 li:nth-child(2)::after {
  content: "|";
  color: #cacaca;
  padding-left: 10px;
}

.top_nav_2 {
  font-size: 12.7px;
}

.top_nav_2 li {
  padding: 10px 8px;
}

.top_nav_2 li:nth-child(5)::after {
  content: "|";
  color: #cacaca;
  font-weight: 200;
  padding-left: 10px;
}

.top_nav_3 {
  font-size: 18.5px;
}

.top_nav_3 li {
  padding: 10px;
}

.top_nav_3 li .fa-search,
.top_nav_3 li .fa-bars {
  color: #666;
}

/* 개인, 로그인, 공인인증센터 */
.login_btn {
  width: 100%;
  height: 40px;
  padding-right: 5px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
}

.login_btn h1 {
  font-size: 24px;
  font-weight: 900;
  padding: 10px 15px;
}

.login_btn ul {
  display: flex;
}

.login_btn ul li button {
  font-size: 14px;
  padding: 4px 6px;
  background-color: #fff;
  border: 1px solid #afafaf;
  cursor: pointer;
}

#border_none {
  border-right: none;
}

/* 메인 NAV */
#kb_nav_1 {
  width: 100%;
  border-bottom: 1px solid #f2f2f2;
}

.kb_nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

.kb_nav>li {
  background-color: #fed03a;
  width: 25%;
  padding: 16.8px 0;
  text-align: center;
}

.kb_nav li>a {
  display: bolck;
  color: #333;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.kb_nav>li:hover {
  background-color: #f9ba21;
  transition: 0.5s;
}

#kb_nav_1 .kb_nav_2 {
  position: absolute;
  top: 50px;
  left: 0%;
  width: 100%;
  background-color: #fff;
  z-index: 9999;
  display: none;
  -webkit-box-shadow: 6px 6px 9px 0px rgba(199, 199, 199, 1);
  -moz-box-shadow: 6px 6px 9px 0px rgba(199, 199, 199, 1);
  box-shadow: 6px 6px 9px 0px rgba(199, 199, 199, 1);
}

#kb_nav_1 .sub_menu {
  float: left;
  width: 20%;
  padding: 22px 0;
}

#kb_nav_1 .sub_menu li {
  padding-left: 13px;
}

#kb_nav_1 .sub_menu li h2 {
  text-align: left;
  padding: 12px 0;
  padding-left: 10px;
  font-size: 16.2px;
  margin: 0;
  letter-spacing: 0.3px;
}

#kb_nav_1 .sub_menu li a {
  display: block;
  padding: 8.8px 0;
  padding-left: 10px;
  text-align: left;
  font-size: 12.8px;
  color: #555;
  font-weight: 500;
  letter-spacing: -1px;
}

#kb_nav_1 .sub_menu li a:hover {
  background-color: #f8e3ae;
  transition: 0.5s;
}

#kb_nav_1 .kb_nav>li:hover .kb_nav_2 {
  display: block;
  transition: 1s;
}

/* 검색창 + NAV */
.kb_search_nav {
  padding: 17px 0;
  display: flex;
  align-items: center;
}

.search_wrap {
  width: 400px;
  position: relative;
  display: flex;
}

.search input {
  padding-left: 20px;
  font-size: 15px;
}

.searchTerm {
  width: 420px;
  border: 1px solid lightgray;
  border-right: none;
  height: 37px;
  border-radius: 20px;
  outline: none;
  color: #9dbfaf;
}

.searchTerm:focus {
  color: #00b4cc;
}

.searchButton {
  width: 50px;
  height: 40.5px;
  position: absolute;
  right: -46px;
  top: 0.5px;
  border-left: transparent;
  border-top: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  background-color: #fff;
  text-align: center;
  color: #fff;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
}

.searchButton .fa-search {
  font-size: 19px;
  color: #f27a45;
}

.keyword {
  margin-left: 70px;
  background-color: #7f7368;
  padding: 6px 15px;
  border-radius: 20px;
}

.keyword a {
  color: #fff;
  font-size: 17px;
  font-weight: 600;
}

/* 슬라이더 */
.kb_slider {
  width: 100%;
  height: 500px;
  background-color: #e5e5ef;
}

.swiper-container {
  width: 100%;
  height: 500px;
}

/* 1번째: #EFECD9; 3번째: #fff4f6; 5번째: #E7F7F4*/

/* KB 대표상품 */
.kb_product {
  width: 100%;
  height: 600px;
  background-color: #f2f2f2;
}

/* 새소식, 이벤트 / 고객센터 */
.kb_notice {
  background-color: skyblue;
  display: flex;
}

.kb_notice aside {
  width: 50%;
  height: 250px;
}

.kb_notice aside:nth-child(1) {
  background-color: sandybrown;
}

.kb_notice aside:nth-child(2) {
  background-color: darkred;
}

/* 배너링크 */
.kb_banner {
  background-color: blue;
  display: flex;
}

.kb_banner aside {
  width: 50%;
  height: 170px;
}

.kb_banner aside:nth-child(1) {
  background-color: darkslateblue;
}

.kb_banner aside:nth-child(2) {
  background-color: darkslategray;
}

/* 하단 FOOTER */
.kb_footer {
  width: 100%;
  height: 280px;
}

.kb_footer_cont {
  height: 280px;
  background-color: palevioletred;
}